@charset "utf-8";
/* CSS Document */

#wrap{
	min-width:1080px;}

#header{
	position:relative; 
	position:fixed; top:0; left:0;
	width:100%; height:100px; z-index:500;
	background-color:#fff;}
#headerin{
	position:relative;
	width:1080px; margin-left:auto; margin-right:auto;
	background-color:#fff;}
	
.logo{
	padding-top:20px;}
.logo a{
	display:block;
	width:246px; height:49px;
	background-image:url(../img/logo.jpg); background-repeat:no-repeat;
	text-indent:-9999px;}
	
.gnb{
	position:absolute; top:40px; right:0; padding-bottom:22px;}
.gnb ul .d1{
	float:left; width:125px;}
.gnb ul .d1 a{
	display:block; text-align:center;
	font-size:18px; color:#222;}
.gnb li a:hover{
	color:#634634;}
.gnb ul .d1 .d2{
	display:none;
	position: absolute; top:41px; z-index:800;
    background-color: #FFF;
    width:125px; height:220px;}
.gnb:hover ul .d1 .d2{
	display:block;}
.gnb ul .d1 .d2 ul{
	padding-top:33px;}
.gnb ul .d1 .d2 ul li{
	margin-bottom:8px;}
.gnb ul .d1 .d2 ul li a{
	font-size:14px;
	white-space:nowrap;}
.gnb ul .d1 .d2 ul li a:hover{
	font-weight: bold; color:#fff; background:#634634; border-radius:4px}
.gnb_bg{
	display:none; /* 문서를 열자마자 보일 대상이 아님 */
	position:absolute; top:100px; left:0;
	width:100%; height:230px;
	background-color:#fff;}

.mainSlide{
	padding-top:100px;
	position:relative;}
.mainSlide .msImg li{
	height:550px; text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:center 0;}
.mainSlide .msImg .ms1{
	background-image:url(../img/mainslide_01.jpg);}
.mainSlide .msImg .ms2{
	background-image:url(../img/mainslide_02.jpg);}
.mainSlide .msImg .ms3{
	background-image:url(../img/mainslide_03.jpg);}
.mainSlide .msImg a{
	display:block;
	width:1080px; height:550px;
	margin-left:auto; margin-right:auto;}
.mainSlide .bx-prev, .mainSlide .bx-next{
	position:absolute; top:320px;
	width:64px; height:64px; text-indent:-9999px;}
.mainSlide .bx-prev{
	left:50%; margin-left:-700px;
	background-image:url(../img/a_left.png);}
.mainSlide .bx-next{
	right:50%; margin-right:-700px;
	background-image:url(../img/a_right.png);}
.mainSlide .bx-pager{
	position:absolute; left:0; bottom:20px;
	width:100%; text-align:center;}
.mainSlide .bx-pager div{
	display:inline-block; margin-right:8px;}
.mainSlide .bx-pager div:last-child{
	margin-right:0;}
.mainSlide .bx-pager div a{
	display:block; width:12px; height:12px;
	border-radius:50%; text-indent:-9999px;
	background-color:#fff;}
.mainSlide .bx-pager div a.active{
	background-color:#634634;}

.card{
	position:relative;
	margin-bottom:60px;}	
.card .cardImg{
	height:477px; text-indent:-9999px;
	background-image:url(../img/card_02.jpg);
	background-repeat:no-repeat;
	background-position:center 0;}
.card .cardImg a{
	position:absolute; top:283px; right:50%; margin-right:-300px;
	display:inline-block; width:130px; height:41px;}

.new{
	width:1080px; margin-left:auto; margin-right:auto; margin-bottom:60px;}
.new h3{
	text-align:center; margin-bottom:30px; font-size:20px;}
.new ul:after{
	content:""; display:block; clear:both;}
.new ul li{
	float:left; width:340px; margin-right:30px;
	text-align:center;}
.new ul li:last-child{
	margin-right:0;}
.new ul li a img{
	width:100%; height:auto; margin-bottom:30px;}
.new ul li a .menu{
	font-size:16px; color:#222;}

.event{
	width:1080px; margin-left:auto; margin-right:auto; margin-bottom:60px;}
.event h3{
	text-align:center; margin-bottom:30px; font-size:20px;}
.event ul:after{
	content:""; display:block; clear:both;}
.event ul li{
	float:left; width:525px; margin-right:30px;
	text-align:center;}
.event ul li:last-child{
	margin-right:0;}
.event ul li img{
	width:100%; height:auto; margin-bottom:30px;}
	
.find{
	position:relative;
	width:1080px; margin-left:auto; margin-right:auto;
	margin-bottom:60px;}
.find .img{
	display:block; width:500px; height:344px;
	background-image:url(../img/find.png);
	background-repeat:no-repeat;
	text-indent:-9999px;}
.find .text{
	position:absolute; left:623px; top:93px;}
.find .text .t1{
	font-size:26px; line-height:26px;
	margin-bottom:20px; }
.find .text .t2{
	font-size:22px; line-height:22px; margin-bottom:10px;}
.find .text .t3{
	font-size:16px; margin-bottom:20px;}
.find .box{
	position:absolute; top:234px; left:624px;}
.find .box form{
	position:relative;}
.find .box form input{
	width:210px; height:44px;
	padding-left:5px;}
.find .box form button{
	position:absolute; top:8px; right:1px;
	width:34px; height:34px; border:0;
	background-image:url(../img/icon_find.png);
	background-color:transparent;
	background-repeat:no-repeat;
	text-indent:-9999px;}
	
.coffee .img{
	display:block; height:140px;
	margin-bottom:50px;
	background-image:url(../img/franchise_02.png);
	background-repeat:no-repeat;
	background-position:center 0;
	text-indent:-9999px;}
	
.franchise{
	position:relative;
	padding-top:30px;
	width:1080px; height:250px; margin-left:auto; margin-right:auto;}
.franchise .txt{
	font-size:16px; line-height:30px;
	text-align:center; margin-bottom:30px;}
.franchise .text{
	position:absolute; left:150px;
	font-size:25px; line-height:25px;}
.franchise .icon a{
	position:absolute; right:200px;
	display:block; width:42px; height:42px;
	background-image:url(../img/icon_fran.png);
	background-repeat:no-repeat;
	background-color:transparent;
	text-indent:-9999px;}
	
#footer{
	height:200px; background-color:#1c0706;}
#footerin{
	position:relative;
	width:1080px; margin-left:auto; margin-right:auto;}
.f_logo{
	position:absolute;  top:20px; left:0;
	width:68px; height:48px; 
	background-color:transparent;
	background-image:url(../img/f_logo.png);
	background-repeat:no-repeat;
	text-indent:-9999px;}
.f_info{
	position:absolute; top:70px; left:0;
	font-size:14px; color:#cdcbcb;}
.f_info span{
	margin-left:15px; margin-right:15px;}
.f_menu{
	position:absolute; top:130px; left:0;}
.f_menu:after{
	content:""; display:block; clear:both;}
.f_menu p{
	float:left;}
.f_menu a{
	font-size:14px; color:#cdcbcb;}
.f_menu .span{
	margin-left:15px; margin-right:15px;
	color:#cdcbcb;}
.copyright{
	position:absolute; left:370px; top:170px;
	font-size:12px; color:#cdcbcb;}
.sns{
	position:absolute; top:20px; right:0;}
.sns ul:after{
	content:""; display:block; clear:both;}
.sns ul li{
	float:left; margin-left:5px; width:49px;}
.sns ul li a .icon{
	width:49px; height:47px;
	background-image:url(../img/icon_sns.png);}
.sns ul .facebook a .icon{
	background-position:-3px -12px;}
.sns ul .insta a .icon{
	background-position:-110px -14px;}
.sns ul .youtube a .icon{
	background-position:-224px -14px;}