@charset "utf-8";
/* CSS Document */

#wrap{
    min-width: 320px; 
}


/*헤더*/
#header{
	position:relative;
	height:70px; z-index: 200;
}
.logo{
	width:180px; margin-left:auto; margin-right:auto;}
.logo a{
	display:block; height:70px; text-indent:-9999px;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat; 
	background-position:center; background-size:100% auto;
}
.menu{
	position:absolute; top:0; left:0;}
.menu a{
	display:block; width:48px; height:70px; text-indent:-9999px;
	background-image:url(../img/icon_menu.png);
	background-repeat:no-repeat;
	background-position:center; background-size:18px auto;
}
.menu .on{
    background-image: url(../img/close.png);
}


.side{
    position: fixed; top: 70px; bottom: 0; left: 0;
    width: 100%; background-color: #111;
    display: none;
}
.gnb_m .d1{
	border-bottom:1px solid #bbb;}
.gnb_m .d1 .m{
	display:block; padding-left:15px; 
	line-height:52px; font-size:17px; color:#fff;
	background-image:url(../img/icon_more_wh.png);
	background-repeat:no-repeat; 
	background-position:right 18px center;
	background-size:20px auto;}
.gnb_m .d1 .m.on{
	background-image:url(../img/icon_more1.png);}
.gnb_m .d1 .sub{
    display: none;
}
.gnb_m .d1 .sub ul{
	border-top:1px solid #ddd;
	padding-top:10px; padding-bottom:10px;}
.gnb_m .d1 .sub li a{
	display:block; padding-top:5px; padding-bottom:5px;
	padding-left:10px;
	font-size:15px; color:#ccc;}


.gnb{display:none;}
.info{
	display:none;}
.utill{
	position:absolute; top:0; right:10px;}
.utill p{
	float:right; margin-left:12px;}
.utill .open_search a{
	display:block; width:24px; height:70px; text-indent:-9999px;
	background-image:url(../img/icon_search.png);
	background-repeat:no-repeat;
	background-position:center; background-size:23px auto;
}
.utill .open_search a.close{
	background-image:url(../img/close.png);}
.utill .cart a{
	display:block; width:24px; height:70px; text-indent:-9999px;
	background-image:url(../img/icon_shoppingcart.png);
	background-repeat:no-repeat;
	background-position:center; background-size:23px auto;
}
.search{
	display:none;
	position:absolute; top:70px; left:0;
	width:100%; background-color:#fff; z-index:500;
}
.search_in{
	border-top:1px solid #aaa;
	padding:15px;}
.search_in p{
	margin-right:70px;
	border:1px solid #ccc;}
.search_in p input{
	width:100%; height:32px; border:0;
	padding-left:10px;}
.search_in a{
	position:absolute; top:16px; right:15px;
	display:block; width:70px; height:34px;
	background-color:#db0936;
	text-align:center; line-height:34px;
	font-size:13px; color:#fff;}

/*메인 슬라이드*/
.mainslide{
	position:relative;}
.ms_img{
	position:relative;}
.ms_img img{
	width:100%; height:auto;}
.ms_img .pc{
	display:none;}
.ms_img .text{
	position:absolute; left:20px; top:50%; margin-top: -180px; 
    color: #222;}
.ms2 .ms_img .text{
    color: #fff;
}
.ms_img .text .t1{
	margin-bottom:20px; font-size:60px; line-height:70px; font-weight:600;}
.ms_img .text .t2{
	font-size:18px;}
	
/*메인 슬라이드 아이템*/
.ms_item{
    position: relative; margin-left: auto; margin-right: auto;
    margin-top:-100px; margin-bottom:40px;}
.ms_item li{
	text-align:center; margin-bottom: 20px;}
.ms_item li .name{
	font-size:18px; color:#222}
.ms_item li .price{
	font-size:16px; color:#ccc;}

.mainslide .bx-prev, .mainslide .bx-next{
    display: none;
}

	
/*탑3컬러*/
.top3{
	text-align:center; margin-bottom:50px;}
.top3 h1{
	font-size:24px; margin-bottom:10px;}
.top3 h3{
	font-size:16px; margin-bottom:10px;}
.top3 .c1{
	background-color:#fa6f6a;}
.top3 .c2{
	background-color:#d34845;}
.top3 .c3{
	background-color:#d21a26;}
.top3 li .click{
    position: relative;}
.top3 li .click a{
    display: block; padding: 15px;}
.top3 li .name{
	display:block; height:20px;
	background-repeat:no-repeat; 
	background-position:0 center;
    background-size: auto 100%;
	text-indent:-9999px;}
.top3 li.c1 .name{background-image:url(../img/color_n1.png);}
.top3 li.c2 .name{background-image:url(../img/color_n2.png);}
.top3 li.c3 .name{background-image:url(../img/color_n3.png);}
.top3 li .more{
	position:absolute; top:15px; right:15px;
	display:block; width:24px; height:24px; padding: 0;
	background-image:url(../img/icon_more2.png);
	background-repeat:no-repeat;
	background-position:center;
	text-indent:-9999px;}

.top3 li .box{display: none;}
.top3 li .box a{
    display: block; padding: 15px; padding-bottom: 25px;}
.top3 li .text{
	margin-top: 20px;
	color:#fff;}
.top3 li .text .product{
	font-size:18px; margin-bottom:10px;
}

.top3 li.on .more{background-image:url(../img/icon_more1.png);}
.top3 li.on .box{display: block;}


	
/*베스트아이템*/
.b_item{
	position:relative; display:block;
	text-align:center; margin-bottom:30px;}
.b_item h1{
	font-size:24px; margin-bottom:10px;}
.b_item h3{
	font-size:16px; margin-bottom:20px;}
.b_item .b_item_list .img{
	margin-bottom:20px;}
.b_item .b_item_list .text{
    padding-left: 15px;
    padding-right: 15px; font-size: 23px; color: #222;
}
.b_item .b_item_list .star{
	font-size:23px; margin-bottom:20px;}
.b_item .t1{
	font-size:20px; margin-bottom:10px;}
.b_item .t2{
	font-size:18px; margin-bottom:10px;}
.b_item .t3{
	font-size:18px; margin-bottom:5px;}
.b_item .t4{
	font-size:16px; color:#999;}
.b_item .bx-prev, .b_item .bx-next{
    position: absolute; top: 35%; text-indent: -9999px;
    display: block; width: 50px; height: 50px; background-repeat: no-repeat;
}
.b_item .bx-prev{
   background-image:url(../img/l_btn.png);
    left: 50%; margin-left:-150px;
}
.b_item .bx-next{
    background-image:url(../img/r_btn.png);
    right: 50%; margin-right: -150px;
}

	
/*동영상*/
.avi{
	text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #222;
    margin-bottom: 40px;}
.avi h1{
	font-size:24px; margin-bottom:20px; color: #fff;}
.avi h1 strong{
    font-size: 100%;
}
.avi .img{
	margin-bottom: 20px; overflow: hidden;
}
.avi .img .img_in{
    position: relative;
    width: 180%;
    margin-left: -40%;
}
.avi .img img{
    width: 100%; height: auto;
}
.avi .img iframe{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
}

/*insta*/
.insta{
	text-align:center;
	margin-bottom:5px; margin-left:5px;}
.insta h1{
	font-size:24px; margin-bottom:10px;}
.insta h3{
	font-size:16px; margin-bottom:10px;}
.insta .m_insta a{
	display:inline-block; width:250px; height:50px; margin-bottom:10px;
	background-image:url(../img/icon_insta.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:200px auto;
	text-indent:-9999px;}
.insta ul:after{
	content:""; display:block; clear:both;}
.insta li{
    position: relative;
	float:left; width:33.33%; margin-bottom:5px;}
.insta li a{
	display:block; margin-right:5px;}
.insta li a img{
	width:100%; height:auto;}

/*푸터*/
#footer{
	position:relative;
	height:300px; background-color:#8b0a29;}
.f_menu{
    margin-left: 20px; padding-top: 20px;}
.f_menu p{
    margin-bottom: 7px;
}
.f_menu a{
	font-size:16; color:#fff;}
.f_sns{
    position:absolute; top: 20px; right: 20px;}
.f_sns ul:after{
	content:""; display:block; clear:both;}
.f_sns li{
	float:left; margin-left:5px;}
.f_sns li a{
	display:block; width:40px; height:40px;
	background-repeat:no-repeat; 
	background-position:center;
	background-size:30 auto;
	text-indent:-9999px;
}
.f_sns ul .facebook a{
	background-image:url(../img/icon_f.png);}
.f_sns ul .ins a{
	background-image:url(../img/icon_i.png);}
.f_sns ul .youtube a{
	background-image:url(../img/icon_y.png);}
.f_copy{
    font-size: 16px; color: #fff;
    text-align: center; margin-bottom: 7px;}
.f_info{
	text-align: center;
	font-size:16px; color:#fff;}
.f_info:after{
	content:""; display:block; clear:both;}
.f_info p{
    display: inline-block;
	float:left;}
.f_info a{
	color:#fff;}
.f_info p{
    display: contents;
}
.f_info .span{
	margin-left:5px; margin-right:5px;}

@media screen and (min-width:768px){
	/*헤더*/
	#header{
		height:70px;}
	.logo{
		width:250px;}
	.logo a{
		height:70px;}
	.menu{
		left:5px;}
	.menu a{
		width:55px; height:70px;
		background-size:25px auto;}
	.utill{
		margin-right:5px;}
	.utill .open_search a{
		width:55px; height:70px;
		background-size:25px auto;}
	.utill .cart a{
		width:55px; height:70px;
		background-size:25px auto;}
	.search{
		top:70px;}
		
	/*메인 슬라이드*/
	.mainslide{
		margin-bottom:0;}
	.ms_img .m{
		display:none;}
	.ms_img .pc{
		display:block;}
	.ms_img .text{
		left:30px; margin-top: -170px;}
	.ms_img .text .t1{
		margin-bottom:10px; font-size:50px; line-height:60px; font-weight:700;}
	.ms_img .text .t2{
		font-size:20px;}
		
	/*메인슬라이드 아이템*/
	.ms_item{
        width: 660px; margin-bottom: 60px; }
    .ms_item ul:after{
        content: ""; display: block; clear: both;
    }
	.ms_item li{
		float:left; width:33.33%;}
    
    .top3{
        margin-bottom: 60px;
    }
    
    .b_item{
        margin-bottom: 60px;
    }
    .b_item .bx-prev{
        margin-left: -300px;
    }
    .b_item .bx-next{
        margin-right: -300px;
    }
    
    
    /*동영상*/
    .avi{
        margin-bottom: 60px;
    }
    .avi h1{
        font-size: 23px; margin-bottom: 50px;
    }
    .avi .img{
        margin-bottom: 50px;
    }
    
    .avi .img .img_in{
        width: 100%; margin-left: 0;
    }
    
    /*인스타*/
    .insta{
		width:620px; margin-left:auto; margin-right:auto;
		margin-bottom:20px;}
    .insta h1{
        font-size: 23px;
    }
	.insta li{
		width:200px; margin-right:10px; margin-bottom:10px;}
	.insta li:nth-child(3n){
		margin-right:0;}
	.insta li a{
		margin:0;}
    
}

@media screen and (min-width:1220px){
	/*헤더*/
	#header{
        position: relative;
        position: fixed; top: 0; left: 0; 
        width: 100%; height: 100%; z-index: 500;
		height:150px;
        background-color: #fff;
        border-bottom: 3px solid #222;
    }
	#headerin{
		position:relative;
		width:1200px; margin-left:auto; margin-right:auto; z-index: 100;}
	.logo{
		position:absolute; top:30px; left:470px;
		width:300px; }
	.logo a{
		height:40px;}
	.menu{
		display:none;}
    .side{
        display: none !important;}
	.gnb{
		display:block; height: 52px; overflow: hidden;
		position:absolute; top:105px; left:100px; 
    }
	.gnb ul .d1{
        position: relative;
		float:left; padding-right: 150px; }
    .gnb ul .d1:last-child{
        padding-right: 20px;;
    }
	.gnb ul .d1 .m{
        padding-bottom: 22px;
		display:block; text-align: center;
		line-height:18px; font-size:16px; color:#333; 
    }
    .gnb ul .d1:hover .m{
	    color:#db0936;
        border-bottom:8px solid #db0936;
    }
    .gnb ul .d1 .sub{
        position: absolute; top: 45px; width: 235px; height: 150px;
    }
    .gnb ul .d1 .sub ul{
        padding-top: 20px;
    }
    .gnb ul .d1 .sub ul li{
        margin-bottom: 4px;
    }
    .gnb ul .d1 .sub ul li a{
        display: inline-block; padding-left: 10px; padding-right: 10px;
        padding-top: 2px; padding-bottom: 2px;
        font-size: 14px;
        color: #222;
        white-space:nowrap; 
    }
    .gnb ul .d1 .sub ul li a:hover{
	    font-weight: bold; color:#fff; background:#999; border-radius:4px
    }
	.info{
		display:block;
		position:absolute; top:20px; right:0;}
	.info li{
		float:left; margin-left:12px;}
	.info li a{
		font-size:14px; color:#777;}
    .info .language{
        position: relative;}
    .info .language .btn{
        padding-right: 20px;
        background-image: url(../img/icon_down_gr.png);
        background-repeat: no-repeat;
        background-position: right 8px;
        background-size: 12px auto;
    }
    .info .language .btn.active{
        background-image: url(../img/icon_up_gr.png);
    }
    .info .language .list{
        position: absolute; top: 24px; right: 0; z-index: 10;
        display: none;
    }
    .info .language .list ul{
        border: 1px solid #aaa; padding-top: 10px; padding-bottom: 10px;
        padding-left: 15px; padding-right: 15px;
        background-color: #fff;
    }
    .info .language .list li{
        float: none; margin: 0;
    }
	.utill{
		top:94px; right: 0;}
    .utill p{
        width: 40px; height: 40px;
        margin-left: 1px;
    }
	.utill .open_search a{
		width:40px; height:35px;
		background-size:25px auto;}
	.utill .cart a{
		width:40px; height:35px;
		background-size:25px auto;}
	.search{
		top:150px; width:30%; left:unset; right:0;}
	.search_in p input{
	width:100%; height:32px;}
	
    .gnb_bg{
        position: absolute; top: 153px; left: 0;
        width: 100%; height: 150px; background-color: #fff; opacity: 0.9;
        display: none;
    }
	
	/*메인슬라이드*/
	.inner{
		width:1200px; margin-left:auto; margin-right:auto;}
    .mainslide{
        position: relative;
        padding-top: 150px;
    }
    .ms_img .text{
        left: 80px; top: 45%; 
    }
	.ms_img .text .t1{
		margin-bottom:40px; font-size:80px; line-height:100px; font-weight:700;}
	.ms_img .text .t2{
		font-size:22px; line-height: 30px; }
	
    /*메인슬라이드 아이템*/
    .ms_item{
        margin-top:-120px;
        margin-bottom: 80px; 
    }
    
    .mainslide .bx-prev, .mainslide .bx-next{
        display: block;
        position:absolute; top:500px;
	    width:64px; height:64px; text-indent:-9999px;
    }
    .mainslide .bx-prev{
        left:50%; margin-left:-700px;
        background-image:url(../img/a_left.png);}
    .mainslide .bx-next{
        right:50%; margin-right:-700px;
        background-image:url(../img/a_right.png);}
   
    /*top3*/
    .top3{
        margin-bottom: 80px;
    }
    .top3 h1{
        font-size: 28px;
    }
    
    /*b_item*/
    .b_item{
        margin-bottom: 80px;
    }
   
	/*베스트아이템*/
    .b_item h1{
        font-size: 28px;
    }
    .b_item .b_item_list{
        position: relative; width: 900px;
        margin-left: auto; margin-right: auto;
        margin-top: 30px;
    }
    .b_item .b_item_list li:after{
	    content:""; display:block; clear:both;}
	.b_item .b_item_list li .img{
		float: left; width: 400px; margin: 0;}
	.b_item .b_item_list li .text{
		float: left; width: 500px; padding: 0;
        margin-top: 30px;
        text-align: left;}
	.b_item .t2{
	font-size:18px; margin-bottom:5px;}
	.b_item .bx-prev{
		left:50%; top:130px; margin-left: -600px;}
	.b_item .bx-next{
		right:50%; top:130px; margin-right: -600px;}
    
    /*avi*/
    .avi{
        margin-bottom: 80px;
    }
    .avi h1{
        font-size: 28px; margin-bottom: 80px;
    }
    .avi h1 span{
        font-weight: 900; font-size: 40px;
    }
    .avi .img{
        margin-bottom: 80px;
    }
    
    /*insta*/
    .insta h1{
        font-size: 28px;
    }
    .insta li a .over{
        position:absolute; top:0; left:0;
        width:100%; height:100%;
        background-color:rgba(0,0,0,0.8);
        background-image:url(../img/icon_more_wh.png);
        background-repeat:no-repeat; background-position:center;
        background-size:26px auto; opacity:0;
        transition:opacity 0.5s}
    .insta li:hover .over{
	    opacity:1;}

    
		
	/*푸터*/
	#footer{
		height:200px;}
    #footerin{
        position: relative;
        width:1000px; margin-left: auto; margin-right: auto;
    }
    .f_menu {
        margin-left: 0; margin-bottom: 7px;
    }
    .f_menu:after{
        content: ""; display: block; clear: both;
    }
    .f_menu p{
        float: left; margin-right: 10px;
    }
    .f_menu a{
        font-size: 16px;
    }
    .f_sns{
        position: static; margin-bottom: 13px;
    }
    .f_copy{
        text-align: left;
    }
    .f_copy p br{
        display: none;
    }
    .f_info{
        text-align: left;
    }