#wrap{
    position: relative;
}
#header{
    position: fixed;
    position: relative;
    top: 0; left:0;
    background-color: #cd1c1e;
    height: 140px; width: 100%; z-index: 300;
}
#headerin{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
#headerin .tell{
    position: absolute; top: 21px; left: 21px;
}
#headerin .title{
    position: absolute; top: 27px; left: 470px;
}
#headerin .title a{
    display: block; width: 288px; height: 108px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#headerin .utill{
    position: absolute; top: 66px; right: 22px;
}
#headerin .utill:after{
    content: ""; display: block; clear: both;
}
#headerin .utill li{
    float: left;
}
#headerin .utill .home a{
    display: block; width: 80px; height: 30px;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#headerin .utill .star a{
    display: block; width: 100px; height: 30px;
    background-image: url(../img/booking.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

#gnb{
    height: 72px;
    background-color: #272727;
}
#gnbin{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
#gnbin li{
    float: left; width: 240px;
    text-align: center;
}
#gnbin .lora a{
    display: block; width: 240px; height: 73px;
    background-image: url(../img/nav1.png);
    background-repeat: no-repeat;
    background-size: 150px auto;
    background-position: 64px center;
    text-indent: -9999px;
}
#gnbin .brand a{
    display: block; width: 240px; height: 73px;
    background-image: url(../img/nav2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 97px center;
    text-indent: -9999px;
}
#gnbin .menu a{
    display: block; width: 240px; height: 73px;
    background-image: url(../img/nav3.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 88px center;
    text-indent: -9999px;
}
#gnbin .fran a{
    display: block; width: 240px; height: 73px;
    background-image: url(../img/nav4.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 46px center;
    text-indent: -9999px;
}
#gnbin .store a{
    display: block; width: 240px; height: 73px;
    background-image: url(../img/nav5.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 54px center;
    text-indent: -9999px;
}


.mainSlide{
    position: relative;
}
.mainSlide li{
    height: 950px;
    background-repeat: no-repeat;
    background-position: center 0;
}
.mainSlide .ms1{
    background-image: url(../img/s1_visual1.jpg);
    background-size: 100% auto;
}
.mainSlide li a{
    display: block;
    width: 1200px; height: 950px; margin-left: auto; margin-right: auto;
    text-indent: -9999px;
}
.s2{
    background-position: center 0;
    background-repeat: no-repeat;
}
.s2 .inner{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
.s2 .s2_title{
    position: absolute; top: 270px; left: 65px;
}
.s2 .inner .link{
    position: relative;
    position: absolute; top: 575px; left: 60px;
}
.s2 .inner .link .kakao{
    margin-bottom: 13px;
}
.s2 .inner .link .kakao a{
    display: block; width: 393px; height: 54px;
    background-image: url(../img/s2_kako.png);
    background-size: 408px auto;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.s2 .inner .link .insta a{
    display: block; width: 393px; height: 54px;
    background-image: url(../img/s2_insta.png);
    background-size: 408px auto;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.s2 .s2_bg img{
    width: 100%;
}

.s3{
    padding-top:85px; 
    background-color: #f1f1f1;
}
.s3 .inner{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
.s3 .inner .s3_title{
    margin-left: auto; margin-right: auto;
    width: 400px; height: 320px; padding-bottom: 30px;
}
.s3 .inner .s3_subtit{
   width: 917px; height: 198px; margin-left: auto; margin-right: auto;
    padding-bottom: 80px;
}

.s3_photo img{
    position: relative;
    background-position: center 0;
    background-repeat: no-repeat;
}
.s3_photo img{
    width: 100%;
}
.s4{
    padding-top: 168px;
}
.s4 .inner{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
.s4 .inner .sub4_tit{
    padding-left: 177px;
    width: 688px; height: 203px; margin-bottom: 166px;
}
.s4 .inner .sub4_txt{
    padding-left: 172px;
    width: 944px; height: 662px; margin-bottom: 177px;
}
.s4 .inner .border{
   
    width: 1200px;
    border: 2px solid #c40317;
}
.s5{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto; padding-bottom: 104px;
}
.s5 .s5_call{
   padding-top: 120px; padding-left: 326px; margin-bottom: 115px;
}
.s5 .s5_kakao{
    padding-left: 266px; margin-bottom: 35px;
}
.s5 .s5_text{
    padding-left: 375px;
    padding-bottom: 117px;
}

.s5 .box1 ul:after{
    content: ""; display: block; clear: both;
}
.s5 .box1 ul li {
    float: left;
    margin-bottom: 9px; margin-right: 8px;
}
.s5 .box1 ul li:nth-child(2){
    margin-right: 0;
}
.s5 .box1 ul li:last-child{
    margin-right: 0;
}
.s5 .photo{
    margin-bottom: 148px;
}
.s5 .photo .box2{
    margin-bottom: 140px;
}
.s5 .box2 ul:after{
    content: ""; display: block; clear: both;
}
.s5 .box2 ul li{
    float: left; 
    margin-bottom: 10px;
    margin-right: 8px;
}
.s5 .box2 ul li:nth-child(4){
    margin-right: 0;
}
.s5 .box2 ul li:last-child{
    margin-right: 0;
}
.s5 .border{
    width: 1200px;
    border: 2px solid #c40317;
}
.s6{
    width: 1200px; margin-left: auto; margin-right: auto;
}
.s6 .s6_tit{
    padding-left: 164px;
    margin-bottom: 140px;
}
.s7{
    width: 1200px; margin-left: auto; margin-right: auto;
    padding-top: 163px;
}
.s7 .logo{
    width: 350px; height: 348px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 110px;
}
.s7 .txt{
    width: 869px; height: 189px;
    margin-left: auto; margin-right: auto; margin-bottom: 95px;
}
.s7 .list{
    margin-bottom: 50px;
}
.s7 .list ul:after{
    content: ""; display: block; clear: both;
}
.s7 .list ul li{
    float: left; margin-right: 16px; margin-bottom: 46px
}
.s7 .list ul li:nth-child(4){
    margin-right: 0;
}
.s7 .list ul li:last-child{
    margin-right: 0;
}
.s7 .list ul li a{
    display: block; width: 288px; height: 334px;
    text-indent: -9999px;
}
.s7 .list ul .l1{
    background-image: url(../img/s7_store1.png);
}
.s7 .list ul .l2{
    background-image: url(../img/s7_store2.png);
}

.s7 .list ul .l3{
    background-image: url(../img/s7_store3.png);
}

.s7 .list ul .l4{
    background-image: url(../img/s7_store4.png);
}

.s7 .list ul .l5{
    background-image: url(../img/s7_store5.png);
}
.s7 .list ul .l6{
    background-image: url(../img/s7_store6.png);
}
.s7 .list ul .l7{
    background-image: url(../img/s7_store7.png);
}
.s7 .list ul .l8{
    background-image: url(../img/s7_store8.png);
}
.s7 .border{
    width: 1200px;
    border: 2px solid #c40317; margin-bottom: 5px;
}
#footer{
    background-color: #d0d2d3;
    height: 207px;

}
#footerin{
    position: relative;
    width: 1200px; margin-left: auto; margin-right: auto;
}
#footerin .f_logo{
    position: absolute; top: 34px; left: 59px;
}
#footerin .f_info{
    position: absolute; top: 113px; left: 52px;
}
#footerin .f_mail{
    position: absolute; top: 26px; right: 53px;
}
#footerin .f_call{
    position: absolute; top: 56px; right: 56px;
}

.goTop{
    position: fixed;
    right: 48px;
    bottom: 247px;
}
.goTop a{
    display: block; width: 160px; height: 130px;
    background-size: 158px auto;
    background-image: url(../img/top.png);
    text-indent: -9999px;
}
.goTop a:hover{
    background-image: url(../img/top_over.png);
}